<div class="container event-form" ng-show="groupForm==2">
    <form name="editGroupForm" ng-submit="editGroupForm.$valid && groupCtrl.modifyGroup()" novalidate>
        <div>
            <h2>Edit group:</h2><br>
            <div class="row form-group">
                <label class="col-sm-2 control-label" for="formGroup">Name: </label>
                <input type="text" name="name" ng-model="group.name" ng-pattern="/^[a-z\d\-_\s]+$/i" required />
            </div>
            <div class="row form-group">
                <label class="col-sm-2 control-label" for="formGroup">Number of assistants: </label>
                <input type="number" name="assistants" min="5" max="100" ng-model="group.maxAssistants" required readonly />
            </div>
            <div class="row form-group">
                <label class="col-sm-2 control-label" for="formGroup">Date:</label>
                <div class="col-sm-2">
                    <p class="input-group">
                        <input type="text" class="form-control" id="groupDate" uib-datepicker-popup="dd-MM-yyyy" is-open="groupDate.opened" datepicker-options="dateOptions"
                            alt-input-formats="altInputFormats" close-text="Close" ng-required="true" ng-model="group.date" readonly
                        />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openGroupDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
            <div class="row form-group">
                <button type="submit" class="btn btn-success" ng-disabled="createGroupForm.$invalid" ng-click="groupForm=0">Create</button>
                <button class="btn btn-success" ng-click="groupForm=0">Back</button>
            </div>
        </div>
    </form>
</div>
